.container {
    border: 3px solid blue;
    padding: 10px;

.row {
    border: 3px solid red;
}

.col {
    border: 3px solid black;
}

.col-1 {
    border: 3px solid black;
}

.col-2 {
    border: 3px solid black;
}

.col-3 {
    border: 3px solid black;
}

.col-4 {
    border: 3px solid black;
}

.col-5 {
    border: 3px solid black;
}

.col-6 {
    border: 3px solid black;
}

.col-7 {
    border: 3px solid black;
}

.col-8 {
    border: 3px solid black;
}

.col-9 {
    border: 3px solid black;
}

.col-10 {
    border: 3px solid black;
}

.col-11 {
    border: 3px solid black;
}